<div class="Navbar">
  <div class="info">
    <div>
      <h1>Henry's Portfolio</h1>
    </div>
    <div>
      <h1>CV</h2>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</div>

<p>
  <a href="https://skillicons.dev">
    <img src="https://skillicons.dev/icons?i=git,kubernetes,docker,c,vim" />
  </a>
</p>

<div class="Container">
  <div class="description">
    <h1>About me</h1>
    <p>I am a junior full-stack developer & teaching assistant at Le Wagon <br>
       Below are the key projects I have worked on as part of a team <br>
       Further down I have included the individual learning projects I completed by myself <br>
    </p>
  </div>
  <h1>Main Projects ⭐️ </h1>
    <div class="Project_container">
      <div class="project_name">
        <%= link_to "https://www.fplbot.co.uk", target: '_blank' do %>
           <h1 class="link"> FPLBOT </h1>
         <% end  %>
      </div>
      <div class="project_description">
          <div class="card">
            <h1>What is it?</h1>
            <p>A Premier League Fantasy Football insights tool to help
                players make better informed transfers and keep on track of performace
                versus their friends!
              </p>
          </div>
          <div class="card">
            <h1>How do I use?</h1>
            <p>If you currently play FPL you can get your id from the offical website
              and then create an account on FPLBOT to get all your insights!
            </p>
          </div>
      </div>
      <div class="project_description">
        <div class="card">
          <h1>What if I don't play FPL?</h1>
          <p>You can view the app below 😎</p>
        </div>
        <div class="card">
          <h1>How was this built?</h1>
          <p>FPLBOT is built using Ruby on Rails. The app automatically pulls data
              from 3 Fantasy Premier League API's every day and puts through our model
              so that user's have up to date insights throughout the 23/24 season!
          </p>
        </div>
      </div>
      <div class="project_info">
        <div class="video">
          <%= video_tag "FPLBOT.mp4", size: "1400x800", autoplay: true, muted: 'muted',
          loop: true, class: "home_video"%>
        </div>
      </div>
    </div>
    <%# BOATEL %>
    <div class="Boatel_container">
      <div class="project_name">
        <%= link_to "https://boatel-db43a638cc60.herokuapp.com/", target: '_blank' do %>
           <h1 class="link"> BOATEL </h1>
         <% end  %>
      </div>
      <div class="project_description">
        <div class="card">
          <h1>What if I don't play FPL?</h1>
          <p>You can view the app below 😎</p>
        </div>
        <div class="card">
          <h1>How was this built?</h1>
          <p>FPLBOT is built using Ruby on Rails. The app automatically pulls data
              from 3 Fantasy Premier League API's every day and puts through our model
              so that user's have up to date insights throughout the 23/24 season!
          </p>
        </div>
      </div>
      <div class="project_info">
        <div class="video">
          <%= video_tag "BOATEL.mp4", size: "1400x800", autoplay: true, muted: 'muted',
          loop: true, class: "home_video"%>
        </div>
      </div>
    </div>
</div>
