<div class="Navbar">
  <div class="info">
    <div>
      <h1>Henry's Portfolio</h1>
    </div>
    <div>
      <h1>CV</h2>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</div>

<div class="Container">
  <div class="description">
    <h1>About me</h1>
    <p>I am a junior full-stack developer & teaching assistant at Le Wagon <br>
       Below are the key projects I have worked on as part of a team <br>
       Further down I have included the individual learning projects I completed by myself <br>
    </p>
  </div>
  <h1>Main Projects ⭐️ </h1>
    <%= link_to "https://www.fplbot.co.uk", target: '_blank' do %>
    <div class="Project_container">
      <div class="name">
        <h1 id="project_name"> FPLBOT </h1>
      </div>
      <div class="project_info">
        <div class="video">
          <%= video_tag "FPLBOT.mp4", size: "700x400", autoplay: true, muted: 'muted',
          loop: true, class: "home_video"%>
        </div>
        <div class="Project_description">
        </div>
      </div>
      </div>
    <% end %>
</div>
