<div class="Navbar">
  <div class="info">
    <div>
      <h1>Henry's Portfolio</h1>
    </div>
    <div>
      <h1>CV</h2>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</div>
<div class="Container">
  <div class="description">
    <h1>About me</h1>
    <p>I am a junior full-stack developer & teaching assistant at Le Wagon <br>
       Below are the key projects I have worked on as part of a team <br>
       Further down I have included the individual learning projects I completed by myself <br>
    </p>
  </div>
  <h1>Main Projects ⭐️ </h1>
  <div class="Project_container">
    <div class="video">
      <%= video_tag "FPLBOT.mp4", :size => "400x400",
      class: "home_video"%>
    </div>
    <div class="Project_description">
    </div>
  </div>
</div>
