body {
  background-color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

p {
  color: white;
}

.Container {
   margin-top: 30px;;
   background-color: red;
   width: 100%;
   margin: auto;
   max-width: 1400px;
}

.Navbar {
  background-color: white;
}

.Name {
  background-color: white;
}
